<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Quiz</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/admin/createquiz.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Admin Panel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/adminprofile">My Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admindashboard">DashBoard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/leaderboard">LeaderBoard</a>
                    </li>
                </ul>
                <form class="d-flex" method="POST" action="/adminlogout">
                    <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
                    <button class="btn btn-light" type="submit">Log Out</button>
                </form>
            </div>
        </div>
    </nav>

    <form action="">
        <div class="card mb-3">

            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="quizheading" id="quizheading"
                            placeholder="Type Quiz Heading" value="Untitled form" required>
                    </div>
                </h5>
                <p class="card-text">
                <div class="mb-3">
                    <input type="text" class="form-control" name="quizdesc" id="quizdesc" placeholder="Quiz Description"
                        value="" required>
                </div>
                </p>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>

        </div>
        <button type="button" class="btn btn-outline-primary" id="btn-add-question">Add Question</button>
        <!-- Add Question -->
        <div class="card mb-3 add-question">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <p class="card-text">
                <div class="mb-3">
                    <input type="text" class="form-control question" name="question" id="question"
                        placeholder="Question" required>
                </div>
                </p>

                <p class="card-text">
                <div class="mb-3">
                    <i class="far fa-circle"></i>
                    <input type="text" class="form-control" name="option1" id="option1" required placeholder="Option1">
                </div>
                </p>

                <p class="card-text">
                <div class="mb-3">
                    <i class="far fa-circle"></i>
                    <input type="text" class="form-control" name="option2" id="option2" required placeholder="Option2">
                </div>
                </p>

                <p class="card-text">
                <div class="mb-3">
                    <i class="far fa-circle"></i>
                    <input type="text" class="form-control" name="option3" id="option3" required placeholder="Option3">
                </div>
                </p>

                <p class="card-text">
                <div class="mb-3">
                    <i class="far fa-circle"></i>
                    <input type="text" class="form-control" name="option4" id="option4" required placeholder="Option4">
                </div>
                </p>

                <p class="card-text">
                <div class="mb-3">
                    <i class="far fa-circle"></i>
                    <input type="text" class="form-control" name="answer" id="answer" required placeholder="Answer">
                </div>
                </p>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
        </div>
    </form>
    <script src="js/admin/createquiz.js"></script>
</body>

</html>