body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1c1a27;
    color: white;
}

header{
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
    color: #9ef01a;
    font-family: 'Libre Baskerville', serif;
}
/*From here start button classes and id start*/
.start-btn1{
    width: 50%;
    /*background-color: aqua;*/
    margin: 100px auto;
    text-align: center;
    height: 200px;
}
.start-btn{
    background-color: yellow;
    margin: 60px auto;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 32px;
    cursor: pointer;
    font-family: 'Kanit', sans-serif;

}
/*here ends the start button properties.*/

.article{
   /*background-color: lightgreen;*/
   /*padding: 100px 200px;*/
   margin: 60px auto;
   margin-bottom: 10px;
   width: 80%;
   border-radius: 5px; 
   border: 10px solid white;
   /*height: 380px;*/
   /*height: 50%;*/
}

#question{
    /*background-color: lightblue;*/
    color: black;
    font-size: 36px;
    padding: 20px 30px;
    margin: 20px 0px;
    color: white;
    color: #ade8f4;
    color: #5adbff;
    font-family: 'Ubuntu', sans-serif;
}


.opt{
    
    border: none;
    border-radius: 30px;
    padding: 20px;
    margin: 10px 25px;
    /* background-color: orange; */
    cursor: pointer;
    font-size: 18px;
    /*margin-bottom: 100px;*/
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(173 242 246);
}

.next-btn{
    
    position: relative;
    margin: 50px 0px;
}
.btn-1{
    border: none;
    border-radius: 5px;
    padding:  15px;
    background-color: orange;
    cursor: pointer;
    font-size: 20px;
    position:absolute;
    bottom: 0;
    right: 0;
    font-family: 'Ubuntu', sans-serif;
    
}


#result{
    text-align: center;
    width: 80%;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ubuntu', sans-serif;
}



.result{
    color: rgb(255, 168, 6);
    text-align: center;
    font-size: 50px;
}