<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz-App</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/home.css">
    <link rel="shortcut icon" href="images/fav-icon.png" type="image/x-icon">
</head>

<body>
    <div class="card text-center">
        <div class="card-header">
            <b>
                <img src="images/favicon.ico" alt=""> Quiz App
                <!-- <img src="images/home/q.png" alt=""> Quiz App -->
                <!-- <img src="images/logo.png" alt="" width="250px"> -->

            </b>
        </div>
        <div class="card-body">
            <h5 class="card-title">Create an Student Account or Login</h5>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->

            <a href="/register" class="btn btn-primary btn1">Register</a>
            <br>
            <a href="/login" class="btn btn-primary btn1">Login</a>
        </div>

        <!-- <div class="card-body">
            <h5 class="card-title">Create an Admin Account or Login</h5>
            
            <a href="/adminRegister" class="btn btn-danger btn1">Register as Admin</a>
            <br>
            <a href="/adminLogin" class="btn btn-danger btn1">Login as Admin</a>
        </div> -->
        <!-- <div class="card-footer text-muted">
            2 days ago
        </div> -->
    </div>
</body>

</html>