.card-header{
    font-size: 40px;
}

#registerbtn{
    width:100%;
}

#login{
    text-decoration: none;
}

#login span{
    color: red;
}

#card-footer .btn-primary{
    display: inline-block;
    margin: 0px 30px;
}