body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.settings-details{
    /* text-align: center; */
    margin: 20px;
    /* width: 90%; */
    /* background-color: yellow; */
}

#savechangesbtn{
    padding: 12px 24px;
    width: 100%;
    font-size: 24px;
}