body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card{
    margin: 10px 20px;
}
button{
    margin: 10px 20px;
}
#quizheading{
    font-size: 30px;
    font-weight: 600;
}

#quizdesc{
    font-size: 14px;
}
